.top{
    color: #fff;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}
header{
    background-color:#000000;
}
body{
    background-color: #fff;
    background-attachment: fixed;
    background-image: url(https://cdn.discordapp.com/attachments/721158720108625944/756941924287381626/BG_00000.jpg);
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    margin:0;
}
nav a{
    font-weight: bold;
    font-size: 150%;
    margin: 30px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #FFFF00;
}
.box{
    max-width: 1000px;
    margin: 0 auto;
}
#logo{
    float:left;
    width:100px;
    height:100px;
}
nav{
    background-color:#000000;
    margin: 0 auto;
    margin-top:15px;
    padding:10px;
    text-align:center;
}
.links{
    background-color:#000000;
    color: #fff;
    margin: 0 auto;
    margin-top:15px;
    padding:10px;
}
.tabl_0{
    background-color:#000000;
    color: #fff;
    margin: 0 auto;
    margin-top:10px;
    padding:10px;
}
table{
    background-color:#EE82EE;
    margin: 0 auto;
    margin-top:20px;
    padding:10px;
}
.chet{
    background-color:#FF00FF;
    text-align:center 
}
.nechet
{
    background-color:#8B008B;
    text-align:center 
}
.reg{
    background-color:#000000;
    color: #fff;
    margin: 0 auto;
    margin-top:10px;
    padding:10px;
}
footer{
  background-color:#000000;
  color: #fff;
  text-align:center;
  width:100%;
}